* {
    padding: 0;
    margin: 0;
}

body {
          font-family: "Trebuchet MS", Arial, sans-serif;
}

#outer {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        }

#header {
         margin-top: 10px;
         border-top: 1px solid  #999999;
         border-bottom: 1px solid  #999999;
         }
         
#breadcrumbs {
              padding-top: 10px;
              text-align: center;
              font-size: 12px;
              }
         
#footer {
         clear: both;
         margin-top: 10px;
         height: 70px;
         text-align: center;
         }
         
#footer img{
            padding: 10px;
            }

#footer a {
           text-decoration: none;
           }

p {
   padding-left: 15px;
    padding-top: 15px;
   }


h1 {
    font-size: 24px;
     color: #007C39;
     padding-top: 10px;
     padding-left: 15px;
    }
    
h2 {
    padding: 15px 15px 0 15px;
    color: #007C39;
    font-size: 18px;
    }

img.dataimg {
margin: 15px 15px 0 15px; 
}


#dumb {
       margin: 10px 15px 15px 15px;
       width: 98%;
        border: 1px solid #999999;
       }

td {
     padding: 2px;
}

td.odd {
             color: #666666;
             background: #ececec;
             text-align: center;
             border-bottom: 1px solid #d7d7d7;
}

td.headodd {
                       font-size: 18px;
                       font-weight: bold;
                       color: #666666;
                        text-align: center;
                         border-top: 1px solid #999999;
                           border-left: 1px solid #999999;
                             border-right: 1px solid #999999;
                               border-bottom: 2px solid #999999;
                         background: #d7d7d7;
                        
}

td.headeven {
                       font-size: 18px;
                       font-weight: bold;
                       color: #666666;
                        text-align: center;
                        border-top: 1px solid #999999;
                           border-left: 1px solid #999999;
                             border-right: 1px solid #999999;
                               border-bottom: 2px solid #999999;
                          background: #d7d7d7;
}

td.even {
               color: #666666;
               border-bottom: 1px solid #d7d7d7;
}

a:link {
            color: #007C39;
}

a:visited {
                 color: #17BE63;
}

a:hover, a.active {
                               text-decoration: none;
}

a img {
            border: none;
}



li {
     margin-left: 10px;
       color: #007C39;
       padding-top: 10px;
       list-style: none;
       font-size: 16px;
}

#backbutton {
             margin: 15px;
             text-align: center;
             }  
             

           
table.station_page1 {
                    margin: 15px;
                    }
                    
table.station_page2 {
                    margin: 15px;
                    float: left;
                    border: 1px solid #999999;
                    }

table.station_page {
                    margin: 15px;
                    border: 1px solid #999999;
                    }
                
td.bold {
         text-align: right;
         font-weight: bold;
         padding-right: 10px;
         }
   
td.data {
         color: #666666;
         }
         
img.azPlot {
            padding-top: 15px;
            padding-left: 15px;
            }
            
#dataimg {
          float: left;
          }
          
#eventmap {
           clear: left;
           }

#azplot {
         float: left;
         }

             
#eq_results td.bold {
                     width: 250px;
                     }
                     
#signal {
         float: left;
         }
         
#arrivals {
           margin-top: 50px;
           }