#macro( tablerow $items )
    #set( $row = "" )
    #set( $td = "$tdodd" )
	#foreach( $i in $items)
		#set( $row = "${row}${td}${i}${tdend}" )
		#if($td == $tdodd) 
		    #set( $td = "$tdeven")
		#else
		    #set( $td = "$tdodd")
		#end
	#end
${tr}$row${trend}
#end
#macro( tablehead $items )
    #set( $row = "" )
    #set( $td = "$tdhead" )
	#foreach( $i in $items)
		#set( $row = "${row}${td}${i}${tdend}" )
	#end
${tr}$row${trend}
#end
#macro( link $href $name )
#if ( !$viewType || $viewType == "html" )
<a href="$href">$name</a>
#else
$name
#end
#end

#set( $tdhead = '<td class="headodd">' )
#set( $tdeven = '<td class="even">' )
#set( $tdodd = '<td class="odd">' )
#set( $tdend = '</td>' )
#set( $tr = '<tr>' )
#set( $trend = "</tr>" )

<html>
<head>
<title>Comparison with Prior Result $name</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

<img src="earslogo.png"/><br/>

<p><b>Comparison with Prior Result $name</p>
<p>Bibliographic Entry: $ref.getReference()</p>
<p>Reference URL: <a href="$ref.getURL()">$ref.getURL()</a></p>
<p>Study type: $ref.getMethod()</p>

<p>View results as <a href="$req.getRequestURL()Txt?$req.getQueryString()">text</a></p>

<table>
<tr><td colspan="4"/><td class="headodd" colspan="8">EARS</td><td class="headodd" colspan="5">$name</td></tr>

#set( $items = [ "Net", "Station", "Name", "Lat/Lon", "Est. Thick", "StdDev", "Est. Vp/Vs", "StdDev", "Assumed Vp", "Vs", "Poissons Ratio", "Num EQ", "Thick", "Vp/Vs", "Vp", "Vs", "Poissons Ratio" ] )
#tablehead( $items )

#foreach($sta in $stationList)
#set( $staurl = "station.html?netdbid=$sta.getNet().getDbId()&stacode=$sta.getCode()" )
#set( $stalink = "#link( $staurl $sta.getName() )" )
#set( $items = [ "$sta.getNet().getCodeWithYear()", "$sta.getCode()", $stalink, "$sta.getLatitude()/$sta.getLongitude()", "$!summary.get($sta).getSum().formatMaxValueH()", "$fissures.formatQuantity($!summary.get($sta).getHStdDev())", "$!summary.get($sta).getSum().formatMaxValueK()", "$!summary.get($sta).formatKStdDev()", "$!summary.get($sta).getSum().formatAlpha()", "$!summary.get($sta).getSum().formatVs()", "$!summary.get($sta).getSum().formatPoissonsRatio()", "$!numEQ.get($sta)", "$!prior.get($sta).formatH()", "$!prior.get($sta).formatVpVs()", "$!prior.get($sta).formatVp()", "$!prior.get($sta).formatVs()", "$!prior.get($sta).formatPoissonsRatio()" ] )
#tablerow( $items )
#end
</table>


<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>
