<html>
<head>
<title>EARS - Stations in $net.getCode()</title>
<link rel="stylesheet" type="text/css" href="$!{staticFiles}station_list_style.css"/>
<script src="$!{staticFiles}sorttable.js" type="text/javascript"> </script>
<script src="$!{staticFiles}tableRuler.js" type="text/javascript"> </script>
<script type="text/javascript">
window.onload=function(){
        tableruler();
        set_img_dir('images/')
}
</script>
</head>
<body>
	
<div id="content">

#header()
<p id="breadcrumbs">You are here: <a href="index.html">Home</a> > <a href="networkList.html">Network List</a> > <b>$net.getCodeWithYear() - $net.name Stations List</b></p>

<h1>Stations in $net.getCodeWithYear() ($stationList.size() stations)</h1>

<p>View as <a href="$!{revBase}eqrate?netdbid=${net.getDbId()}&gaussian=${gaussian}&filetype=text/csv">text</a></p>

<table cellpadding="0" cellspacing="0" id="stat_info">
<tr><td class="headodd">Network</td><td class="headodd">Description</td><td class="headodd">Owner</td><td class="headodd">Dates</td></tr>
<tr><td class="odd">$net.getCodeWithYear() - $net.name</td><td class="even">$net.getDescription()</td><td class="odd">$net.getOwner()</td><td class="even">$fissures.formatYMD($net.getStartDate()) / $fissures.formatYMD($net.getEndDate())</td></tr>	


</table>

<table cellpadding="0" cellspacing="0" class="ruler sortable" id="dumb">
<tr>
	<td class="headodd initiallySorted ascending">Station</td>
	<td class="headodd">Name</td>
	<td class="headodd num">Lat/Lon</td>
	<td class="headodd num">Elevation</td>
	<td class="headodd num">Success Period</td>
	<td class="headodd num">EQ Period</td>
	<td class="headodd num">Period Ratio</td>
	<td class="headodd num">Begin</td>
	<td class="headodd num">End</td>
	<td class="headodd num">Successful</td>
	<td class="headodd num">UnSuccessful</td>
</tr>
#foreach($sta in $stationList)
<tr>
	<td class="odd"><a href="station.html?netdbid=$net.getDbId()&stacode=$sta.getCode()&gaussian=${gaussian}">$sta.getCode()</a></td>
    <td class="stat_name"><a href="station.html?netdbid=$net.getDbId()&stacode=$sta.getCode()&gaussian=${gaussian}">$sta.getName()</a></td>
    <td class="odd">$sta.getOrientedLatitude()/$sta.getOrientedLongitude()</td>
	<td class="even">$sta.getElevation()</td>
	#set( $eqrate = $eqrates.get( $sta.getCode() ) )
	<td class="odd">$eqrate.formatSuccessPeriod()</td>
	<td class="even">$eqrate.formatEqPeriod()</td>
	<td class="odd">$eqrate.getPeriodRatio()</td>
	<td class="odd">$eqrate.getBegin()</td>
	<td class="even">$eqrate.getEnd()</td>
	<td class="odd">$eqrate.getNumSucc()</td>
	<td class="even">$eqrate.getNumUnsucc()</td>
</tr>
#end
</table>



</div>
#footer()
</body>
</html>
