<html>
<head>
<title>EARS</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div id="content">

$header

<p>Choose Gaussian: 
#foreach ( $g in $knownGaussians )
	#if ( $g == $gaussian) 
		$g
		#else
<a href="index.html?gaussian=${g}">${g}</a>
#end
#end
</p>
<p><a href="networkList.html?gaussian=${gaussian}">Networks</a></p>
<p>Compare with <a href="priorResultList.html?gaussian=${gaussian}">prior results</a>
</p>

<br/>
<p>Graph results near:</p>
<form action="hklatlon.png?gaussian=${gaussian}" method="get">
<p>
<label for="lat">Latitude: </label><input type="text" name="lat" value="34"/><br/>
<label for="lon">Longitude: </label><input type="text" name="lon" value="-117"/><br/>
<label for="delta">Delta: </label><input type="text" name="delta" value="2"/><br/>

<label for="xAxis">X Axis: </label>
<input type="radio" name="xAxis" value="lat"> Latitude
<input type="radio" name="xAxis" value="lon" checked="true"> Longitude
<input type="radio" name="xAxis" value="H"> Thickness
<input type="radio" name="xAxis" value="vpvs"> Vp/Vs<br/>

<label for="yAxis">Y Axis: </label>
<input type="radio" name="yAxis" value="lat" checked="true"> Latitude
<input type="radio" name="yAxis" value="lon"> Longitude
<input type="radio" name="yAxis" value="H"> Thickness
<input type="radio" name="yAxis" value="vpvs"> Vp/Vs<br/>

<label for="zAxis">Z (Color) Axis: </label>
<input type="radio" name="zAxis" value="lat"> Latitude
<input type="radio" name="zAxis" value="lon"> Longitude
<input type="radio" name="zAxis" value="H" checked="true"> Thickness
<input type="radio" name="zAxis" value="vpvs"> Vp/Vs<br/>

<input type="submit" value="Send"/>
    </p>
 </form>
 
<br/>
<p>List results in a lat/lon box:</p>
<form action="stationLatLonBox.html?gaussian=${gaussian}" method="get">
<p>
<label for="lat">Min Latitude: </label><input type="text" name="minLat" value="30"/><br/>
<label for="lat">Max Latitude: </label><input type="text" name="maxLat" value="45"/><br/>
<label for="lon">Min Longitude: </label><input type="text" name="minLon" value="-122"/><br/>
<label for="lon">Max Longitude: </label><input type="text" name="maxLon" value="-110"/><br/>

<input type="submit" value="Send"/>
    </p>
 </form>
 <p>Summary of the results for all stations as <a href="overview.html?gaussian=${gaussian}">html</a> or as a <a href="overview.txt?gaussian=${gaussian}">CSV text</a> file.</p>
</body>
</html>
