<html>
<head>
<title>Network List</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

$header

<table>
<tr>
<td class="headodd">Code</td>
<td class="headeven">Name</td>
</tr>
#foreach($net in $networkList)
<tr>
<td class="odd">$net.getCodeWithYear()</td>
#set( $netid = $net.get_id() )
#set( $leaps = $netid.begin_time.leap_seconds_version )
#set( $netbegin = $netid.begin_time.date_time )
<td class="even"><a href="stationList.html?netdbid=${net.getDbId()}">$net.name</a></td>
</td>
</tr>
#end
</table>


<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>