<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="http://www.seis.sc.edu/ears_tmp/restnetwork.css"?>
<channel
	xmlns:xlink="http://www.w3.org/1999/xlink">
    <code>$chan.code</code>
	<site>
		<code>$chan.site.code</code>
		<effective_time>
            <start>$chan.site.startDate</start>
            <end>$chan.site.endDate</end>
        </effective_time>
	    <location>
		    <latitute>$chan.site.latitude</latitute>
	        <longitude>$chan.site.longitude</longitude>
		</location>
		<comment>$chan.site.comment</comment>
	</site>
    <effective_time>
        <start>$chan.start</start>
        <end>$chan.end</end>
    </effective_time>
	<orientation>
		<azimuth>$chan.azimuth</azimuth>
		<dip>$chan.dip</dip>
	</orientation>
	<sampling>
		<numPoints>$chan.sampling.numPoints</numPoints>
		<interval>
			<value>$chan.sampling.intervalValue</value>
			<unit>$chan.sampling.intervalUnitName</unit>
		</interval>
	</sampling>
</channel>