<html>
<head>
<title>Station-Earthquake Result Viewer</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

<img src="earslogo.png"/><br/>

<table>
<tr>
<td class="odd">Earthquake location</td>
<td class="even">$eq.region</td>
</tr>
<tr>
<td class="odd">Earthquake latitude/longitude</td>
<td class="even">$eq.latitude/$eq.longitude</td>
</tr>
<tr>
<td class="odd">Earthquake time(UTC)</td>
<td class="even">$eq.time</td>
</tr>
<tr>
<td class="odd">Earthquake Depth</td>
<td class="even">$eq.depth</td>
</tr>
<tr>
<td class="odd">Earthquake Magnitude</td>
<td class="even">$eq.getAllMagnitudes()</td>
</tr>
<tr>
<td class="odd">Earthquake Catalog/Contributor</td>
<td class="even">$eq.getCatalog()/$eq.getContributor()</td>
</tr>
</table>

<table>
<tr>
<td class="odd">Network</td>
<td class="even">$sta.getNet().getCode()</td>
</tr>
<tr>
<td class="odd">Station</td>
<td class="even">$sta.getCode()</td>
</tr>
</table>

<table>
<tr>
<td class="even">Distance</td>
<td class="odd">$sta.getDistanceDeg($eq)</td>
</tr>
<tr>
<td class="even">Az</td>
<td class="odd">$sta.getAz($eq)</td>
</tr>
<tr>
<td class="even">Baz</td>
<td class="odd">$sta.getBaz($eq)</td>
</tr>
<tr>
<td class="even">Estimated Moho Depth</td>
<td class="odd">$stack.getMaxValueH() km</td>
</tr>
<tr>
<td class="even">Estimated Crust Vp/Vs</td>
<td class="odd">$stack.getMaxValueK()</td>
</tr>
<tr>
<td class="even">Assumed Crust Vp</td>
<td class="odd">$stack.getAlpha()</td>
</tr>
<tr>
<td class="even">Estimated Crust Vs</td>
<td class="odd">$stack.getVs()</td>
</tr>
<tr>
<td class="even">Estimated Crust Poisson's Ratio</td>
<td class="odd">$stack.getPoissonsRatio()</td>
</tr>
</table>


<img class="dataimg" src="hkstackimage.png?rf=$rf"/>


<table>
<tr>
<td class="odd">Radial Match</td>
<td class="odd"> ${result.radialMatch} </td>
</tr>
<tr>
<td class="odd">Radial Bump</td>
<td class="odd"> $result.radialBump </td>
</tr>
<tr>
<td class="odd">Transverse Match</td>
<td class="odd">$result.transverseMatch</td>
</tr>
<tr>
<td class="odd">Transverse Bump</td>
<td class="odd">$result.transverseBump</td>
</tr>
<tr>
<td class="odd">SOD ConfigId</td>
<td class="odd">$result.sodConfigId</td>
</tr>
<tr>
<td class="odd">Insert Time</td>
<td class="odd">$result.insertTime</td>
</tr>
<tr>
<td class="odd">GWidth</td>
<td class="odd">$result.gwidth</td>
</tr>
<tr>
<td class="odd">Max Bumps</td>
<td class="odd">$result.maxBumps</td>
</tr>
<tr>
<td class="odd">Tol</td>
<td class="odd">$result.tol</td>
</tr>
</table>

<img class="dataimg" src="waveforms.png?rf=$rf&window=120"/>

<table>
<tr><td colspan=2>Arrivals</td></tr>
<tr><td class="odd">Ps</td><td class="even">$timePs</tr>
<tr><td class="odd">PpPs</td><td class="even">$timePpPs</tr>
<tr><td class="odd">PsPs/PpSs</td><td class="even">$timePsPs</tr>
</table>

<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>
