<html>
<head>
<title>Station-Earthquake Result Viewer</title>
<link rel="stylesheet" type="text/css" href="usarray.css"/>
</head>
<body>
	
<div id="content" align="left">

<img src="earslogo.png"/><br/>

<table>
<tr>
<td class="odd">Earthquake location</td>
<td class="even">$eq.region</td>
</tr>
<tr>
<td class="odd">Earthquake latitude</td>
<td class="even">$eq.latitude</td>
</tr>
<tr>
<td class="odd">Earthquake longitude</td>
<td class="even">$eq.longitude</td>
</tr>
<tr>
<td class="odd">Earthquake time(UTC)</td>
<td class="even">$eq.time</td>
</tr>
<tr>
<td class="odd">Earthquake time(UTC)</td>
<td class="even">$eq.depth</td>
</tr>
<tr>
<td class="odd">Earthquake Magnitude</td>
<td class="even">$eq.getAllMagnitudes()</td>
</tr>
</table>

<table>
<tr>
<td class="odd">Network</td>
<td class="odd">$sta.getNet().getCode()</td>
</tr>
<tr>
<td class="even">Station</td>
<td class="odd">$sta.getCode()</td>
</tr>
</table>

<table>
<tr>
<td class="even">Distance</td>
<td class="odd">$sta.getDistanceDeg($eq)</td>
</tr>
<tr>
<td class="even">Az</td>
<td class="odd">$sta.getAz($eq)</td>
</tr>
<tr>
<td class="even">Baz</td>
<td class="odd">$sta.getBaz($eq)</td>
</tr>
</table>

<img src="hkstackimage.png?rf=$rf"/>


<table>
<tr>
<td class="odd">Radial Match</td>
<td class="odd"> ${result.radialMatch} </td>
</tr>
<tr>
<td class="odd">Radial Bump</td>
<td class="odd"> $result.radialBump </td>
</tr>
<tr>
<td class="odd">Transverse Match</td>
<td class="odd">$result.transverseMatch</td>
</tr>
<tr>
<td class="odd">Transverse Bump</td>
<td class="odd">$result.transverseBump</td>
</tr>
<tr>
<td class="odd">SOD ConfigId</td>
<td class="odd">$result.sodConfigId</td>
</tr>
<tr>
<td class="odd">Insert Time</td>
<td class="odd">$result.insertTime</td>
</tr>
<tr>
<td class="odd">GWidth</td>
<td class="odd">$result.gwidth</td>
</tr>
<tr>
<td class="odd">Max Bumps</td>
<td class="odd">$result.maxBumps</td>
</tr>
<tr>
<td class="odd">Tol</td>
<td class="odd">$result.tol</td>
</tr>
</table>

<img src="waveforms.png?rf=$rf"/>

<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div id="footer2">
</div id="content">
</body>
</html>