<html>
<head>
<title>Station-Earthquake Result Viewer</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

$header

<table>
<tr>
<td class="odd">Earthquake location</td>
<td class="even">$eq.region</td>
</tr>
<tr>
<td class="odd">Earthquake latitude/longitude</td>
<td class="even">$eq.latitude/$eq.longitude</td>
</tr>
<tr>
<td class="odd">Earthquake time(UTC)</td>
<td class="even">$eq.time</td>
</tr>
<tr>
<td class="odd">Earthquake Depth</td>
<td class="even">$eq.depth</td>
</tr>
<tr>
<td class="odd">Earthquake Magnitude</td>
<td class="even">$eq.getAllMagnitudes()</td>
</tr>
<tr>
<td class="odd">Earthquake Catalog/Contributor</td>
<td class="even">$eq.getCatalog()/$eq.getContributor()</td>
</tr>
</table>

<table>
<tr>
<td class="odd">Network</td>
<td class="even">$sta.getNet().getCode() $sta.getNet().getName()</td>
</tr>
<tr>
<td class="odd">Station</td>
<td class="even">$sta.getCode() $sta.getName()</td>
</tr>
<tr>
<td class="odd">Lat/Lon</td>
<td class="even">$sta.getOrientedLatitude()/$sta.getOrientedLongitude()</td>
</tr>
</table>

<table>
<tr>
<td class="odd">Distance</td>
<td class="even">$sta.getDistanceDeg($eq)</td>
</tr>
<tr>
<td class="odd">Az</td>
<td class="even">$sta.getAz($eq)</td>
</tr>
<tr>
<td class="odd">Baz</td>
<td class="even">$sta.getBaz($eq)</td>
</tr>
#if($stack)
<tr>
<td class="odd">Estimated Moho Depth</td>
<td class="even">$stack.formatMaxValueH()</td>
</tr>
<tr>
<td class="odd">Estimated Crust Vp/Vs</td>
<td class="even">$stack.formatMaxValueK()</td>
</tr>
<tr>
<td class="odd">Assumed Crust Vp</td>
<td class="even">$stack.formatAlpha()</td>
</tr>
<tr>
<td class="odd">Estimated Crust Vs</td>
<td class="even">$stack.formatVs()</td>
</tr>
<tr>
<td class="odd">Estimated Crust Poisson's Ratio</td>
<td class="even">$stack.formatPoissonsRatio()</td>
</tr>
</table>

<img class="dataimg" src="hkstackimage.png?rf=$rf"/>

#else
</table>
<p>The percent match for this event was below the threshold and hence was not used in the summary stack.</p>
#end

<table>
<tr>
<td class="odd">Radial Match</td>
<td class="even"> ${result.radialMatch} %</td>
</tr>
<tr>
<td class="odd">Radial Bump</td>
<td class="even"> $result.radialBump </td>
</tr>
<tr>
<td class="odd">Transverse Match</td>
<td class="even">$result.transverseMatch %</td>
</tr>
<tr>
<td class="odd">Transverse Bump</td>
<td class="even">$result.transverseBump</td>
</tr>
<tr>
<td class="odd">SOD ConfigId</td>
<td class="even">$result.sodConfigId</td>
</tr>
<tr>
<td class="odd">Insert Time</td>
<td class="even">$result.insertTime</td>
</tr>
<tr>
<td class="odd">GWidth</td>
<td class="even">$result.gwidth</td>
</tr>
<tr>
<td class="odd">Max Bumps</td>
<td class="even">$result.maxBumps</td>
</tr>
<tr>
<td class="odd">Tol</td>
<td class="even">$result.tol</td>
</tr>
</table>

<img class="dataimg" src="waveforms.png?rf=$rf&window=120"/>

<p>Signal To Noise<p/>
<table>
<tr><td class="headodd">Channel</td><td class="headodd">StoN</td><td class="headodd">STA</td><td class="headodd">LTA</td></tr>
#foreach($trig in $ston )
<tr><td class="odd">$trig.getChannelId()</td><td class="even">$trig.getValue()</td><td class="odd">$trig.getSTA()</td><td class="even">$trig.getLTA()</td></tr>
#end
</table>

<table>
<tr><td colspan=2>Arrivals</td></tr>
<tr><td class="odd">Ps</td><td class="even">$timePs</tr>
<tr><td class="odd">PpPs</td><td class="even">$timePpPs</tr>
<tr><td class="odd">PsPs/PpSs</td><td class="even">$timePsPs</tr>
</table>

<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>
