<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>EARS - Server Error!</title>
#styles("        ")
<link rel="stylesheet" type="text/css" href="$!{staticFiles}styles/rev_all.css"/>
<link rel="stylesheet" type="text/css" href="$!{staticFiles}styles/notfound.css"/>
    </head>
    <body>
        <div id="outer">
            
#header("                " "")
                <div id="content">
					<h1>We're sorry!</h1>
    <p>The server encountered an error trying to generate this page.</p>
	<ul>
		<li>Don't worry, it's not your fault.  It's ours.</li>
		<li>This automatically sends an error message to us so we should have the 
			problem corrected shortly.</li>
			<li>Use your browser's "back" button or the "return to the Home Page" link below to choose a different 
		link on that page.</li>
		
			<li>Contact us at #revEmail() if you have any questions.</li>
				</ul>
				
				<p>We apologize for any inconvenience!</p>
				
				<a id="backbutton" href="$!{revBase}index.html"><img src="$!{staticFiles}images/return_to_home_page.gif" alt="Return to the Homepage" title="Return to the Homepage"/></a>
   </div>
	<div id="footer">
		#contact()
	</div>
		</div>
 </body>
	
</html>
			