<html>
<head>
<title>Station $net.getCode() $stacode</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

<img src="earslogo2.gif"/><br/>

<p><b>Network: </b>$net.getCodeWithYear() - $net.name<br/></p>

<table>
<tr>
<td class="headodd">Station</td>
<td class="headodd">Name</td>
<td class="headodd">(Lat, Lon)</td>
<td class="headodd">Start / End</td>
</tr>
#foreach($sta in $stationList)
<tr>
<td class="odd">$sta.getCode()</td>
<td class="even">$sta.getName()</td>
<td class="odd">($sta.getLatitude(), $sta.getLongitude())</td>
<td class="odd">$sta.getStart() / $sta.getEnd()</td>
</tr>
#end
</table>


<img class="dataimg" src="summaryHKStack.png?netdbid=$net.getDbId()&stacode=$stacode&minPercentMatch=80&smallestH=25"/>



#set( $sta = $stationList.get(0) )
<table>
<tr>
<td class="headodd">Radial Match</td>
<td class="headodd">Distance</td>
<td class="headodd">Baz</td>
<td class="headodd">FERegion</td>
<td class="headodd">Time</td>
<td class="headodd">Lat/Lon</td>
<td class="headodd">Depth</td>
<td class="headodd">Magnitude</td>

</tr>
#foreach($eq in $eventList)
<tr>
<td class="even">$eq.getParam("itr_match")</td>
<td class="even">$sta.getDistanceDeg($eq)</td>
<td class="even">$sta.getBaz($eq)</td>
#set( $recFunc_id = $eq.getParam("recFunc_id") )
<td class="odd"><a href="http://roo:8084/stationEvent.html?rf=$recFunc_id">$eq.getRegion()</a></td>
<td class="even">$eq.getTimePrecise()</td>
<td class="odd">($eq.getLatitude(), $eq.getLongitude())</td>
<td class="even">$eq.getDepth()</td>
<td class="even">$eq.getAllMagnitudes()</td>
</tr>
#end
</table>



<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>