<html>
<head>
<title>Stations within $delta degrees of ($lat, $lon)</title>
<link rel="stylesheet" type="text/css" href="$!{staticFiles}station_list_style.css"/>
<script src="sorttable.js" type="text/javascript"> </script>
<script src="tableRuler.js" type="text/javascript"> </script>
<script type="text/javascript">
window.onload=function(){
        tableruler();
        set_img_dir('images/')
}
</script>
</head>
<body>

#header()	
	
<div id="content">

<p id="breadcrumbs">You are here: <a href="index.html">Home</a> > <b>Stations within $delta degrees of ($lat, $lon)</b></p>

<h1>Stations within $delta degrees of ($lat, $lon)</h1>



<img id="station_near_by" src="DisplayChart?filename=${plotname}" usemap="#${plotname}" />
$imagemap

<ul id="stat_nearby_form">
	<li>Change Results Criteria</li>
<li>
<form action="stationsNearBy.html?gaussian=${gaussian}" method="get">
<table>
<tr><td class="label"><label for="lat">Latitude: </label></td><td colspan="2"><input type="text" name="lat" value="$lat"/></td></tr>
<tr><td class="label"><label for="lon">Longitude: </label></td><td colspan="2"><input type="text" name="lon" value="$lon"/></td></tr>
<tr><td class="label"><label for="delta">Delta: </label></td><td colspan="2"><input type="text" name="delta" value="$delta"/></td></tr>

<tr><td class="label"><label for="xAxis">X Axis: </label></td>
<td><input type="radio" name="xAxis" value="lat"> Latitude</td>
<td><input type="radio" name="xAxis" value="lon" checked="true"> Longitude</td>
<td><input type="radio" name="xAxis" value="H"> Thickness</td>
<td><input type="radio" name="xAxis" value="vpvs"> Vp/Vs</td></tr>

<tr><td class="label"><label for="yAxis">Y Axis: </label></td>
<td><input type="radio" name="yAxis" value="lat" checked="true"> Latitude</td>
<td><input type="radio" name="yAxis" value="lon"> Longitude</td>
<td><input type="radio" name="yAxis" value="H"> Thickness</td>
<td><input type="radio" name="yAxis" value="vpvs"> Vp/Vs</td></tr>

<tr><td class="label"><label for="zAxis">Z (Color) Axis: </label></td>
<td><input type="radio" name="zAxis" value="lat"> Latitude</td>
<td><input type="radio" name="zAxis" value="lon"> Longitude</td>
<td><input type="radio" name="zAxis" value="H" checked="true"> Thickness</td>
<td><input type="radio" name="zAxis" value="vpvs"> Vp/Vs</td></tr>

<tr><td></td><td><input type="submit" value="Send"/></td></tr>
    </table>
 </form>
</li>
</ul>
<table cellpadding="0" cellspacing="0" class="ruler sortable" id="dumb">
<tr>
<td class="headodd initiallySorted ascending">Net</td>
<td class="headodd">Station</td>
<td class="headodd">Name</td>
<td class="headodd num">Lat/Lon</td>
<td class="headodd num">Est. Thick</td>
	<td class="headodd num">StdDev</td>
<td class="headodd num">Est. Vp/Vs</td>
	<td class="headodd num">StdDev</td>
<td class="headodd num">Assumed Vp</td>
<td class="headodd num">Vs</td>
<td class="headodd num">Poissons Ratio</td>
<td class="headodd num">Num EQ</td>
<td class="headodd num">Complexity</td>
</tr>
#foreach($sta in $stationList)
<tr>
<td class="even">$sta.getNet().getCodeWithYear()</td>

<td class="odd"><a href="station.html?netdbid=$sta.getNet().getDbId()&stacode=$sta.getCode()&gaussian=${gaussian}">$sta.getCode()</a></td>
<td class="even1"><a href="station.html?netdbid=$sta.getNet().getDbId()&stacode=$sta.getCode()&gaussian=${gaussian}">$sta.getName()</a></td>
<td class="odd">$sta.getOrientedLatitude()/$sta.getOrientedLongitude()</td>
    <td class="even">$!summary.get($sta).getSum().formatMaxValueH()</td>
    <td class="odd">$fissures.formatQuantity($!summary.get($sta).getHStdDev())</td>
    <td class="even">$!summary.get($sta).getSum().formatMaxValueK()</td>
    <td class="odd">$!summary.get($sta).formatKStdDev()</td>
    <td class="even">$!summary.get($sta).getSum().formatAlpha()</td>
    <td class="odd">$!summary.get($sta).getSum().formatVs()</td>
    <td class="even">$!summary.get($sta).getSum().formatPoissonsRatio()</td>
    <td class="odd">$!summary.get($sta).numEQ</td>
    <td class="even">$!summary.get($sta).formatComplexityResidual()</td>
</tr>
#end
</table>



</div>
#footer()
</body>
</html>