#foreach($sta in $stationList)
$sta.getNet().getCodeWithYear(),$sta.getCode(),$sta.getLatitude(),$sta.getLongitude(),$sta.getElevation(),$!summary.get($sta).getSum().formatMaxValueH(),$fissures.formatQuantity($!summary.get($sta).getHStdDev()),$!summary.get($sta).getSum().formatMaxValueK(),$!summary.get($sta).formatKStdDev(),$fissures.formatQuantity($!summary.get($sta).getSum().getAlpha()),$fissures.formatQuantity($!summary.get($sta).getSum().getVs()),$!summary.get($sta).getSum().getPoissonsRatio(),$!summary.get($sta).numEQ,$!summary.get($sta).formatComplexityResidual()
#end