#Stations within latitude ($minLat, $maxLat) and longitude ($minLon, $maxLon)
#Net,Station,Lat,Long,Elev,Est.Thick,StdDev,Est.Vp/Vs,StdDev,AssumedVp,Vs,PoissonsRatio,NumEQ,Complexity
#foreach($sta in $stationList)
$sta.getNet().getCodeWithYear(),$sta.getCode(),$sta.getLatitude(),$sta.getLongitude(),$sta.getElevation(),$!summary.get($sta).getSum().formatMaxValueH(),$fissures.formatQuantity($!summary.get($sta).getHStdDev()),$!summary.get($sta).getSum().formatMaxValueK(),$!summary.get($sta).formatKStdDev(),$!summary.get($sta).getSum().formatAlpha(),$!summary.get($sta).getSum().formatVs(),$!summary.get($sta).getSum().formatPoissonsRatio(),$!summary.get($sta).numEQ,$!summary.get($sta).formatComplexityResidual()
#end