<html>
<head>
<title>Stations in $net.getCode()</title>
<link rel="stylesheet" type="text/css" href="usarray.css"/>
</head>
<body>
	
<div id="content" align="left">

<table>
<tr>
<td class="odd">Earthquake location</td>
<td class="even">$eq.region</td>
</tr>
<tr>
<td class="odd">Earthquake latitude</td>
<td class="even">$eq.latitude</td>
</tr>
<tr>
<td class="odd">Earthquake longitude</td>
<td class="even">$eq.longitude</td>
</tr>
<tr>
<td class="odd">Earthquake time(UTC)</td>
<td class="even">$eq.time</td>
</tr>
</table>

<table>

<table>
<tr>
<td class="odd">Network</td>
<td class="even">Station</td>
<td class="even">Distance</td>
<td class="odd">$resultName</td>
</tr>
#foreach($sta in $stations)
<tr>
<td class="odd">$sta.getNet().getCode()</td>
<td class="even">#link($sta $eq)</td>
<td class="even">$fissures.formatQuantity($fissures.getDistance($sta, $eq.get_preferred_origin()))</td>
#set($cookieList = $cookieMap.get($fissures.formatStation($sta.get_id())))
<td class="even">
#foreach($result in $cookieList)
$result 
#end
</td>
</tr>
#end
</table>


<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div id="footer2">
</div id="content">
</body>
</html>