<html>
<head>
<title>Station $net.getCode() $stacode</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

<img src="earslogo.png"/><br/>

#set ($firstSta = $stationList.get(0) )
<p><b>Network: </b><a href="stationList.html?netdbid=$net.getDbId()">$net.getCodeWithYear() - $net.name</a></p>
<p><a href="stationsNearBy.html?lat=$firstSta.getLatitude()&lon=$firstSta.getLongitude()&delta=2">Nearby stations</a></p>

<table>
<tr>
<td class="headodd">Station</td>
<td class="headodd">Name</td>
<td class="headodd">(Lat, Lon)</td>
<td class="headodd">Start / End</td>
</tr>
#foreach($sta in $stationList)
<tr>
<td class="odd">$sta.getCode()</td>
<td class="even">$sta.getName()</td>
<td class="odd">($sta.getLatitude(), $sta.getLongitude())</td>
<td class="even">$fissures.formatYMD($sta.getStartDate()) / $fissures.formatYMD($sta.getEndDate())</td>
</tr>
#end
</table>

<table>
<tr><td class="odd">Thickness Estimate</td><td class="even">$fissures.formatDepth($!summary.getSum().getMaxValueH())</td></tr>
<tr><td class="odd">Thickness StdDev</td><td class="even">$fissures.formatQuantity($!summary.getHStdDev())</td></tr>
<tr><td class="odd">Vp/Vs Estimate</td><td class="even">$!summary.getSum().getMaxValueK()</td></tr>
<tr><td class="odd">Vp/Vs StdDev</td><td class="even">$!summary.getKStdDev()</td></tr>
<tr><td class="odd">Vs Estimate</td><td class="even">$fissures.formatQuantity($!summary.getSum().getVs())</td></tr>
<tr><td class="odd">Poisson's Ratio</td><td class="even">$!summary.getSum().formatPoissonsRatio()</td></tr>
<tr><td class="odd">Peak Value</td><td class="even">$!summary.getSum().getMaxValue()</td></tr>
<tr><td class="odd">Assumed Vp</td><td class="even">$fissures.formatQuantity($!summary.getSum().getAlpha())</td></tr>
<tr><td class="odd">Ps Weight</td><td class="even">$!summary.getSum().getWeightPs()</td></tr>
<tr><td class="odd">PpPs Weight</td><td class="even">$!summary.getSum().getWeightPpPs()</td></tr>
<tr><td class="odd">PsPs Weight</td><td class="even">$!summary.getSum().getWeightPsPs()</td></tr>
</table>

<p>$numNinty with match > 90% and $numEighty with match > 80%.</p>

#if( $numEighty > 0)
<img class="dataimg" src="summaryHKStack.png?netdbid=$net.getDbId()&stacode=$stacode&minPercentMatch=80&smallestH=$smallestH.getValue()"/>
#end

<p><b>Prior Results for this Station</b></p>
<table>
<tr>
<td class="headodd">Study</td>
<td class="headodd">Thickness</td>
<td class="headodd">Vp/Vs</td>
<td class="headodd">Vp</td>
<td class="headodd">Vs</td>
<td class="headodd">Poissons Ratio</td>
 <tr>
 <td class="odd">EARS</td>
 <td class="even">$fissures.formatDepth($!summary.getSum().getMaxValueH())</td>
 <td class="odd">$!summary.getSum().getMaxValueK()</td>
 <td class="even">$fissures.formatQuantity($!summary.getSum().getAlpha())</td>
 <td class="odd">$fissures.formatQuantity($!summary.getSum().getVs())</td>
 <td class="even">$!summary.getSum().formatPoissonsRatio()</td>
</tr>
</tr>
#foreach( $marker in $markerList)
 <tr>
 <td class="odd"><a href="$marker.getRef().getURL()">$marker.getRef().getName()</a></td>
 <td class="even">$marker.formatH()</td>
 <td class="odd">$marker.formatVpVs()</td>
 <td class="even">$marker.formatVp()</td>
 <td class="odd">$marker.formatVs()</td>
 <td class="even">$marker.formatPoissonsRatio()</td>
</tr>
#end
</table>

#set( $sta = $stationList.get(0) )
<table>
<tr>
<td class="headodd">Radial Match</td>
<td class="headodd">Distance</td>
<td class="headodd">Baz</td>
<td class="headodd">FERegion</td>
<td class="headodd">Time</td>
<td class="headodd">Lat/Lon</td>
<td class="headodd">Depth</td>
<td class="headodd">Magnitude</td>

<p><b>Events processed for this station.</b></p>
</tr>
#foreach($eq in $eventList)
<tr>
<td class="even">$eq.getParam("itr_match")</td>
<td class="odd">$sta.getDistanceDeg($eq)</td>
<td class="even">$sta.getBaz($eq)</td>
#set( $recFunc_id = $eq.getParam("recFunc_id") )
<td class="odd"><a href="stationEvent.html?rf=$recFunc_id">$eq.getRegion()</a></td>
<td class="even">$eq.getTime()</td>
<td class="odd">($eq.getLatitude(), $eq.getLongitude())</td>
<td class="even">$eq.getDepth()</td>
<td class="odd">$eq.getAllMagnitudes()</td>
</tr>
#end
</table>



<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>
