<html>
<head>
<title>Stations within $delta degrees of ($lat, $lon)</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

$header

<p><b>Stations within $delta degrees of ($lat, $lon)</p>

<table>
<tr>
<td class="headodd">Net</td>
<td class="headodd">Station</td>
<td class="headodd">Name</td>
<td class="headodd">Lat/Lon</td>
<td class="headodd">Est. Thick</td>
	<td class="headodd">StdDev</td>
<td class="headodd">Est. Vp/Vs</td>
	<td class="headodd">StdDev</td>
<td class="headodd">Assumed Vp</td>
<td class="headodd">Vs</td>
<td class="headodd">Poissons Ratio</td>
<td class="headodd">Num EQ</td>
<td class="headodd">Complexity</td>
</tr>
#foreach($sta in $stationList)
<tr>
<td class="odd">$sta.getNet().getCodeWithYear()</td>

<td class="odd"><a href="station.html?netdbid=$sta.getNet().getDbId()&stacode=$sta.getCode()&gaussian=${gaussian}">$sta.getCode()</a></td>
<td class="even"><a href="station.html?netdbid=$sta.getNet().getDbId()&stacode=$sta.getCode()&gaussian=${gaussian}">$sta.getName()</a></td>
<td class="odd">$sta.getOrientedLatitude()/$sta.getOrientedLongitude()</td>
    <td class="even">$!summary.get($sta).getSum().formatMaxValueH()</td>
    <td class="odd">$fissures.formatQuantity($!summary.get($sta).getHStdDev())</td>
    <td class="even">$!summary.get($sta).getSum().formatMaxValueK()</td>
    <td class="odd">$!summary.get($sta).formatKStdDev()</td>
    <td class="even">$!summary.get($sta).getSum().formatAlpha()</td>
    <td class="odd">$!summary.get($sta).getSum().formatVs()</td>
    <td class="even">$!summary.get($sta).getSum().formatPoissonsRatio()</td>
    <td class="odd">$!summary.get($sta).numEQ</td>
    <td class="odd">$!summary.get($sta).formatComplexityResidual()</td>
</tr>
#end
</table>


<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>