<html>
<head>
<title>Stations in $net.getCode()</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	
<div id="content">

$header

<p><b>Network: </b>$net.getCodeWithYear() - $net.name</p>
<p><b>Description: </b>$net.getDescription()</p>
<p><b>Owner: </b>$net.getOwner()</p>
<p><b>Dates: </b>$fissures.formatYMD($net.getStartDate()) / $fissures.formatYMD($net.getEndDate())</p>
<p>View as <a href="stationList.txt?netdbid=${net.getDbId()}">text</a></p>
<table>
<tr>
<td class="headodd">Station</td>
<td class="headodd">Name</td>
<td class="headodd">Lat/Lon</td>
<td class="headodd">Est. Thick</td>
<td class="headodd">Est. Vp/Vs</td>
<td class="headodd">Assumed Vp</td>
<td class="headodd">Vs</td>
<td class="headodd">Poissons Ratio</td>
<td class="headodd">Num EQ</td>
</tr>
#foreach($sta in $stationList)
<tr>
<td class="odd"><a href="station.html?netdbid=$net.getDbId()&stacode=$sta.getCode()">$sta.getCode()</a></td>
<td class="even"><a href="station.html?netdbid=$net.getDbId()&stacode=$sta.getCode()">$sta.getName()</a></td>
<td class="odd">$sta.getOrientedLatitude()/$sta.getOrientedLongitude()</td>
<td class="even">$fissures.formatQuantity($!summary.get($sta).getSum().formatMaxValueH())</td>
<td class="odd">$!summary.get($sta).getSum().formatMaxValueK()</td>
<td class="even">$fissures.formatQuantity($!summary.get($sta).getSum().formatAlpha())</td>
<td class="odd">$fissures.formatQuantity($!summary.get($sta).getSum().formatVs())</td>
<td class="even">$!summary.get($sta).getSum().formatPoissonsRatio()</td>
<td class="odd">$!numEQ.get($sta)</td>
</tr>
#end
</table>


<div id="footer2" align="center">
  <a href="http://seis.sc.edu">
    <img src="seislogo.gif" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
</div>
</div>
</body>
</html>