
#macro(header)
	<div id="header">
	<a href="${revBase}index.html"><img src="${revBase}images/earslogo.gif"/></a>
	
	</div>

#end

#macro(footer)
<div id="footer">
  <a href="http://seis.sc.edu">
    <img src="${revBase}images/seislogo.png" alt="Seismology at USC" title="USC"/>
  </a>
  <a href="http://www.iris.edu">
    <img src="${revBase}images/irislogo.gif" alt="Iris Consortium" title="IRIS Consortium"/>
  </a>
   <a href="http://www.earthscope.org">
    <img src="${revBase}images/earthscope_logo.png" alt="Earthscope" title="Earthscope"/>
  </a>
</div>
#end

#macro(eventTable $list $isLoser) 
<table class="ruler sortable" id="dumb" cellpadding="0" cellspacing="0">
<tr>
<td class="headodd num initiallySorted descending">Radial Match</td>
<td class="headodd num">Distance</td>
<td class="headodd num">Baz</td>
<td class="headodd">FERegion</td>
<td class="headodd num">Time</td>
<td class="headodd num">Lat/Lon</td>
<td class="headodd num">Depth</td>
<td class="headodd num">Magnitude</td>
#if($isLoser)
<td class="headodd num">Reason</td>
#end
</tr>
#set( $maxValueH = $!summary.getSum().getMaxValueH().getValue() )
#set( $maxValueK = $!summary.getSum().getMaxValueK() )
#foreach($eq in $list)
<tr>
<td class="odd">$eq.getParam("itr_match")</td>
<td class="even">$sta.getDistanceDeg($eq)</td>
<td class="odd">$sta.getBaz($eq)</td>
#set( $recFunc_id = $eq.getParam("recFunc_id") )
<td class="even"><a href="stationEvent.html?rf=$recFunc_id&gaussian=${gaussian}&H=$maxValueH&vpvs=$maxValueK">$eq.getRegion()</a></td>
<td class="odd">$eq.getTime()</td>
<td class="even">($eq.getLatitude(), $eq.getLongitude())</td>
<td class="odd">$eq.getDepth()</td>
<td class="even">$eq.getAllMagnitudes()</td>
#if($isLoser)
<td class="odd">$eq.getParam("reason")</td>
#end
</tr>
#end
</table>
#end

#macro(eventCSVTable $list $isLoser) 
Radial Match,Distance,Baz,FERegion,Time,Lat,Lon,Depth,Magnitude,Reason,RecFunc_id
#set( $maxValueH = $!summary.getSum().getMaxValueH().getValue() )
#set( $maxValueK = $!summary.getSum().getMaxValueK() )
#foreach($eq in $list)
#set( $recFunc_id = $eq.getParam("recFunc_id") )
$eq.getParam("itr_match"),$sta.getDistanceDeg($eq),$sta.getBaz($eq),$eq.getRegion(),$eq.getTime(),$eq.getLatitude(),$eq.getLongitude(),$eq.getDepth(),$eq.getAllMagnitudes(),$!eq.getParam("reason"),$recFunc_id
#end
#end